$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';


#reader {
    width: 100%;
}

.reader-header {
    position: fixed;
    width: 98%;
    margin-top: 6px;
    margin-left: 1%;
}

#content-main {
    position: relative;
    width: 100%;
    margin-top: 48px;
}

.col-left {
    overflow-y: scroll;
    height: 500px;
    width: 20%;
    float: left;
    background-color: #EEE;
    margin-left: 1%;
}

.col-right {
    margin-left: 10px;
    overflow-y: scroll;
    height: 500px;
    float: left;
    width: 77%;

    #item-list {
        list-style-type: none;
        margin: 5px 0px;
        width: 100%;

        li {
            box-sizing: border-box;
            width: 100%;
            min-height: 100px;
            border: 1px solid #EEE;
            padding: 5px 5px;
            margin-bottom: 5px;
            overflow: hidden;
            
            .title {
                display: block;
                width: 100%;
                height: 50px;
                font-weight: bold;
                font-size: 1.4em;
            }

            .content {
                display: block;
                width: 100%;
                word-wrap:break-word;
            }
        }
    }
}

.col-right > header {
    width: 100%;
    background-color: #EEE;
    overflow: hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #CECECE;
    .item-list-title {
        font-size: 2em;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
    }

    button {
        float: right;
    }
}

